<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="bg-primary d-flex justify-content-between align-items-center px-4 pt-4 pb-3">
    
  <%= link_to "", root_path, class: "fa-solid fa-arrow-left fa-xl text-light text-decoration-none" %>
  <h3 class="text-light">Login</h3>
  <div class="actions">
    <%= f.submit "Log in", {class: "btn btn-lg text-light p-0"} %>
  </div>

  </div>

 <div class="form-fields" >
   <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-field" %>
  </div>
 </div>

<% end %>

<%= render "devise/shared/links" %>
